$body-color: #ffffff;
$body-bg: #121212;
$text-muted-color: #999999;
$primary: #1F93FF;
$pink: #FF3DC8;
$yellow: #FAB414;
$font-family-base: "Roboto", system-ui, -apple-system, sans-serif;
$font-family-nav: "Comfortaa", system-ui, -apple-system, sans-serif;
//$link-color: #fff;
//$border-radius: 2px;
