.skewd {
  background: #17191C;
  position: relative;

  &::before {
    content: "";
    transform: skew(0, 8deg);
    background: #17191C;
    height: 250px;
    width: 100vw;
    top: -100px;
    position: absolute;
    left: 0;
    z-index: -1;
  }

  button {
    font-family: $font-family-nav;
  }
}

.glass {
  position: relative;
  backdrop-filter: blur(32px);
  z-index: 2;
  border-radius: 12px;
  background: linear-gradient(-45deg, #26292E, transparent);
  box-shadow: 0 10px 32px 4px rgba($color: #121212, $alpha: 0.8);
}